node_modules
**.db
server/uploads/avatars
server/database/*.db
server/database/*.db-journal
.env
.env.local
.env.development
.DS_Store
dist
dist-ssr
coverage
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*